<a href="https://colab.research.google.com/github/batuhanbyzt/Miuul_1/blob/main/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Task

x = 8
y = 3.2
z = 8j+18
a = "Hello world"
b = True
c = 23 < 22
l = [1, 2, 3, 4]
d = {"Name": "Jake",
     "Age": 27,
     "Adress": "Downtown"}
t = ("Machine Learning", "Data Science")
s = {"Python", "Machine Learning", "Data Science"}

In [ ]:
type(x)

int

In [ ]:
type(y)

float

In [ ]:
type(z)

complex

In [ ]:
type(a)

str

In [ ]:
type(b)

bool

In [ ]:
type(c)

bool

In [ ]:
type(l)

list

In [ ]:
type(d)

dict

In [ ]:
type(t)

tuple

In [ ]:
type(s)

set

In [ ]:
#2. Task
"""Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz,kelime kelime ayırınız."""

text = "The goal is to turn data into information, and information into insight."

In [ ]:
new=text.upper().replace(","," ").replace("."," ").split()

In [ ]:
new

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

In [ ]:
#3. Task
"""
Görev 3: Verilen listeye aşağıdaki adımları uygulayınız.

Adım 1: Verilen listenin eleman sayısına bakınız.
Adım 2: Sıfırıncı ve onuncu indeksteki elemanları çağırınız.
Adım 3: Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.
Adım 4: Sekizinci indeksteki elemanı siliniz.
Adım 5: Yeni bir eleman ekleyiniz.
Adım 6: Sekizinci indekse "N" elemanını tekrar ekleyiniz.

"""
lst = ["D","A","T","A","S","C","I","E","N","C","E"]

In [ ]:
len(lst)

11

In [ ]:
lst[0]

'D'

In [ ]:
lst[10]

'E'

In [ ]:
lst[0:4]

['D', 'A', 'T', 'A']

In [ ]:
del lst[8]

In [ ]:
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [ ]:
lst.append(88)

In [ ]:
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 88]

In [ ]:
lst.insert(8,"N")

In [ ]:
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 88]

In [ ]:
#4. Task

"""Verilen sözlük yapısına aşağıdaki adımları uygulayınız.

Adım 1: Key değerlerine erişiniz.
Adım 2: Value'lara erişiniz.
Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
Adım 5: Antonio'yu dictionary'den siliniz."""


dict = {"Christian": ["America",18],
        "Daisy": ["England",12],
        "Antonio": ["Spain",22],
        "Dante": ["Italy",25]}

In [ ]:
dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [ ]:
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [ ]:
dict.update({"Daisy": ["England",13]})

In [ ]:
print(dict)

{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25]}

In [ ]:
dict["Daisy"][1]=18 #ekstra çözüm

In [ ]:
dict.update({"Ahmet": ["Turkey",24]})

In [ ]:
print(dict)

{'Christian': ['America', 18], 'Daisy': ['England', 18], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

In [ ]:
del dict["Antonio"]

In [ ]:
print(dict)

{'Christian': ['America', 18], 'Daisy': ['England', 18], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

In [ ]:
#5. Task
"""Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri
return eden fonksiyon yazınız"""
l = [2,13,18,93,22]

In [ ]:
tek = []
cift = []
def func(liste_gir):
  for i in liste_gir:
    if i % 2 == 0:
      cift.append(i)
    else:
      tek.append(i)
  return cift,tek

In [ ]:
func(l)

([2, 18, 22], [13, 93])

In [ ]:
#6. Task
"""Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri
bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de
tıp fakültesi öğrenci sırasına aittir. Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız."""
ogrenciler = ["Ali", "Veli", "Ayşe", "Talat", "Zeynep", "Ece"]

In [ ]:
for index,i in enumerate(ogrenciler,1):
  if index < 4:
    print(f"Mühendislik Fakültesi {index} .  öğrenci: {i}")
  else:
    print(f"Tıp Fakültesi {index-3} .  öğrenci: {i}")

Mühendislik Fakültesi 1 .  öğrenci: Ali
Mühendislik Fakültesi 2 .  öğrenci: Veli
Mühendislik Fakültesi 3 .  öğrenci: Ayşe
Tıp Fakültesi 1 .  öğrenci: Talat
Tıp Fakültesi 2 .  öğrenci: Zeynep
Tıp Fakültesi 3 .  öğrenci: Ece

In [ ]:
#7. Task
"""Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer
almaktadır. Zip kullanarak ders bilgilerini bastırınız."""

ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]

kredi = [3,4,2,4]

kontenjan = [30,75,150,25]

In [ ]:
derslik=list(zip(kredi,ders_kodu,kontenjan))

In [ ]:
print(derslik)

[(3, 'CMP1005', 30), (4, 'PSY1001', 75), (2, 'HUK1005', 150), (4, 'SEN2204', 25)]

In [ ]:
for i in derslik:
  print(f"Kredisi {i[0]} olan {i[1]} kodlu dersin kontenjanı {i[2]} ")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25

In [ ]:
#8. Task
"""Aşağıda 2 adet set verilmiştir. Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını
eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir"""

kume1 = set(["data","python"])
kume2 = set(["data", "funtion", "qcut","lambda","python", "miuul"])

In [ ]:
def fonk(x,y):
  if x.issuperset(y):
    print(x.intersection(y))
  else:
    print((y-x))

In [ ]:
fonk(kume1,kume2)

{'funtion', 'lambda', 'qcut', 'miuul'}